<!DOCTYPE html>
<html>

  <head>

    <title>
      <%= data.title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('header.ejs') %>
  </head>

  <body>
    <h1>
      <%= data.title %>
    </h1>
    <p>Welcome to <%= data.title %>
    </p>
  </body>

</html>